/*
  The following zoom: 1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}

li {
/*
  For IE6 + IE7.
*/
  display: list-item;
}

svg {
/*
  For IE9.
*/
  overflow: hidden;
}

img {
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}